<h1>All Hoods</h1>
<h2>Please choose one: </h2>

<ul>
	<h4><%= @hoods.first.borough %></h4>
	<% prev_hood = @hoods.first %>
	<% @hoods.each do |hood| %>
		<% if hood.name < prev_hood.name %>
			<h4><%= hood.borough %></h4>
		<% end %>
		<% prev_hood = hood %>
		<li><%= link_to hood.name, user_path(hood: {id: hood.id}, id: session[:user_id]) %></li>
	<% end %>
</ul>